
$button-color: #08c;
.Todos__list{
    position: relative;
}
.Todos__item{
    height: 52px;
    & + &{
        margin-top: 16px;
    }
}
.Todo__form{
    width: 100%;
}
.li__inner{
    position: relative;
    padding-right: 120px;
}
.btn__container{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.Todos__icon{
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 8px;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;

    &.btn__edit{
        background-color: $button-color;
        &:hover{
            background-color: darken($button-color, 10%);
        }  
        &:active{
            background-color: lighten($button-color, 10%);
        }
    }
    &.btn__confirm{
        background-color: green;
        &:hover{
            background-color: darken(green, 10%);
        }
        &:active{
            background-color: lighten(green, 10%);
        }
    }
    &.btn__delete{
        background-color: red;
        &:hover{
            background-color: darken(red, 10%);
        }
        &:active{
            background-color: lighten(red, 10%);
        }
    }
}

mat-icon.icon{
    height: 100%;
    &:before{
        display: inline-block;
        vertical-align: middle;
    }
}